# Data Types

The most basic data types used in python are: integer(int), float, string(str) and boolean(bool).

In [1]:
print("This is an integer value: ", 3)  # int represent a whole number without decimal point
print("This is a floating point value:",3.12) # float rrepresent number with decimal point
print("This is a string") # string represent a sequence of characters enclosed in double or single qoutes
print("This is a boolean value: ",True) # Boolean represents binary values of True or False

This is an integer value:  3
This is a floating point value: 3.12
This is a string
This is a boolean value:  True

# Operators

There are various operators in python but the basic operators are:
## 1. Arithemetic operators:

In [2]:
a = 3
b = 4

#### Addition

In [3]:
c = a + b
print(c)

7

#### Subtraction

In [4]:
c = b - a
print(c)

1

#### Multiplication

In [5]:
c = a * b
print(c)

12

#### Division

In [6]:
c = a / b
print(c)

0.75

#### Floor Division
This returns the integer part of the answer only.

In [7]:
c = b // a
print(c)

1

#### Modulus
This return the remainder of a division.

In [8]:
c = b % a
print(c)

1

#### Exponentiation
eg: **a** power of **b**

In [9]:
c = a ** b
print(c)

81

### Order of Operations (PEMDAS)
The order of arithmetic operations in Python follows PEMDAS: Parentheses: () Exponents: ** Multiplication and Division: *, /, //, % (left to right) Addition and Subtraction: +, - (left to right) Example:

In [10]:
result = (3 + 2) * 2 ** 2 / (5 - 3) + 6
# Steps:
# 1. Parentheses: (3 + 2) -> 5 and (5 - 3) -> 2
# 2. Exponents: 2 ** 2 -> 4
# 3. Multiplication/Division (left to right): 5 * 4 -> 20, 20 / 2 -> 10.0
# 4. Addition: 10.0 + 6 -> 16.0
print(result)  # Output: 16.0

16.0

## 2. Comparison Operators
Comparison operators compare two values and return a boolean result.

#### Equal to (==): Checks if two values are equal.

In [11]:
result = (a == b)  # Output: False
print(result)

False

#### Not equal to (!=): Checks if two values are not equal.

In [12]:
result = (a != b)  # Output: True
print(result)

True

#### Greater than (>): Checks if the first value is greater than the second.

In [13]:
result = (b > a)  # Output: True
print(result)

True

#### Less than (<): Checks if the first value is less than the second.

In [14]:
result = (b < a)  # Output: False
print(result)

False

#### Greater than or equal to (>=): Checks if the first value is greater than or equal to the second.

In [15]:
result = (b >= a)  # Output: True
print(result)

True

#### Less than or equal to (<=): Checks if the first value is less than or equal to the second.

In [16]:
result = (b <= a)  # Output: False
print(result)

False

## 3. Logical Operators
Logical operators combine conditional statements.

#### AND (and): Returns True if both statements are true.

In [17]:
result = (5 > 3 and 2 < 4)  # Output: True
print(result)

True

#### OR (or): Returns True if at least one statement is true.

In [18]:
result = (5 > 3 or 2 > 4)  # Output: True
print(result)

True

#### NOT (not): Reverses the result; returns False if the result is true.

In [19]:
result = not(5 > 3)  # Output: False
print(result)

False

## 4. Assignment Operators
Assignment operators are used to assign values to variables.

#### Assign (=): Assigns a value to a variable.

In [20]:
x = 5
print(x)

5

#### Add and Assign (+=): Adds and assigns the result to the variable.

In [21]:
x += 3  # Equivalent to x = x + 3
print(x)

8

#### Subtract and Assign (-=): Subtracts and assigns the result to the variable.

In [22]:
x -= 3  # Equivalent to x = x - 3
print(x)

5

#### Multiply and Assign (*=): Multiplies and assigns the result to the variable.

In [23]:
x *= 3  # Equivalent to x = x * 3
print(x)

15

#### Divide and Assign (/=): Divides and assigns the result to the variable.

In [24]:
x /= 3  # Equivalent to x = x / 3
print(x)

5.0

#### Floor Divide and Assign (//=): Floor divides and assigns the result to the variable.

In [25]:
x //= 3  # Equivalent to x = x // 3
print(x)

1.0

#### Modulus and Assign (%=): Takes modulus and assigns the result to the variable.

In [26]:
x %= 3  # Equivalent to x = x % 3
print(x)

1.0

#### Exponent and Assign (**=): Raises to the power and assigns the result to the variable.

In [27]:
x **= 3  # Equivalent to x = x ** 3
print(x)

1.0

# Variables
Variables are containers for storing data values. In Python, you don't need to declare variables before using them, and the data type of the variable is automatically determined by the value assigned.

## Key Points About Variables in Python:
Naming Conventions:

Variable names must start with a letter (a-z, A-Z) or an underscore (_).
The subsequent characters can be letters, numbers, or underscores.
Variable names are case-sensitive (myVar and myvar are different).

#### Assignment:
You can assign a value to a variable using the equals sign (=). The data type of the variable is automatically determined by the value assigned.
#### Multiple Assignments:
You can assign multiple variables in a single line.
#### Reassignment:
You can change the value of a variable at any time.
#### Swapping Variables:
Python allows easy swapping of variable values.
##### Example Code:

In [28]:
# Assigning values to variables
name = "Alice"
age = 30
height = 5.7
is_student = True

# Printing variable values
print(name)       # Output: Alice
print(age)        # Output: 30
print(height)     # Output: 5.7
print(is_student) # Output: True

# Multiple assignments
x, y, z = 1, 2, 3
print(x, y, z)    # Output: 1 2 3

# Swapping variables
x, y = y, x
print(x, y)       # Output: 2 1

Alice
30
5.7
True
1 2 3
2 1

# Basic Standard Functions in Python.
Python has many standard functions that can be utilised, making it easy to write and implement programs. The following are basic functions to familiarise yourself with:

#### print(): Prints the specified message to the console or other standard output device.

In [29]:
print("Hello, World!")  # Output: Hello, World!

Hello, World!

#### type(): Returns the type of the specified object.

In [30]:
print(type(5))  # Output: <class 'int'>

<class 'int'>

#### len(): Returns the length (the number of items) of an object.

In [31]:
print(len("Hello"))  # Output: 5

5

#### int(), float(), str(), bool(): Convert values to an integer, float, or string, respectively.

In [32]:
print(int("10"))   # Output: 10
print(float("10")) # Output: 10.0
print(str(10))     # Output: '10'
print(bool(10))    # Output: True

10
10.0
10
True

#### input(): Reads a line from input (usually from the user), converts it to a string, and returns it.

In [33]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Mutawakkil Sanusi Babasidi
Hello, Mutawakkil Sanusi Babasidi

#### sum(): Sums the items of an iterable from left to right and returns the total.

In [34]:
print(sum([1, 2, 3, 4]))  # Output: 10

10

#### max() and min(): Return the largest and smallest items in an iterable, respectively.

In [35]:
print(max(1, 2, 3, 4))  # Output: 4
print(min(1, 2, 3, 4))  # Output: 1

4
1

#### abs(): Returns the absolute value of a number.

In [36]:
print(abs(-5))  # Output: 5

5

#### round(): Rounds a number to a specified number of decimal places.

In [37]:
print(round(3.14159, 2))  # Output: 3.14

3.14

#### range(): Generates a sequence of numbers, which is often used in for loops.

In [38]:
for i in range(5):
    print(i)
# Output: 0 1 2 3 4

0
1
2
3
4

#### list(), tuple(), set(), dict(): Create a list, tuple, set, or dictionary.

In [39]:
print(list("Hello"))   # Output: ['H', 'e', 'l', 'l', 'o']
print(tuple("Hello"))  # Output: ('H', 'e', 'l', 'l', 'o')
print(set("Hello"))    # Output: {'o', 'H', 'e', 'l'}
print(dict(a=1, b=2))  # Output: {'a': 1, 'b': 2}

['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')
{'l', 'e', 'H', 'o'}
{'a': 1, 'b': 2}

#### sorted(): Returns a sorted list of the specified iterable's items.

In [40]:
print(sorted([3, 1, 4, 1, 5, 9]))  # Output: [1, 1, 3, 4, 5, 9]

[1, 1, 3, 4, 5, 9]

#### help(): Invokes the built-in help system. It can be used to get documentation on modules, classes, functions, and more.

In [41]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.


#### dir(): Returns a list of the attributes and methods of any object (e.g., modules, lists, strings).

In [42]:
print(dir(str))  # Lists all attributes and methods of the string class

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']